In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# Import dataset
player_df = pd.read_csv("./basic_info.csv")
player_df = player_df.drop(['Unnamed: 0'], axis=1)
# Duplicamos el df
df = player_df
# Quitamos 'Unnamed: 0' que esta mal en este DF
df = df.drop(['Contract', 'Name'], axis=1)
df.head()

,ID,Age,Nationality,Overall,Potential,Club,Value,Wage,Total stat
0,236988,22,England,72,79,Arsenal,€4.8M,€45K,1698
1,225863,23,France,77,82,PSV,€14.5M,€15K,1961
2,241721,22,Portugal,82,90,AC Milan,€68.5M,€52K,1959
3,224371,24,England,79,82,West Ham United,€24M,€63K,1966
4,200104,28,Korea Republic,89,89,Tottenham Hotspur,€104M,€240K,2141

In [3]:
def clean_data_money(df):
    temp_data = df.str.replace('[M, K, €]', '').astype(float)
    for values, indx in zip(df, df.index):
        if values[-1] == 'M':
            temp_data[indx] = temp_data[indx] * 1000000
        elif values[-1] == 'K':
            temp_data[indx] = temp_data[indx] * 1000
        else:
            pass
    return temp_data
df['Value'] = clean_data_money(df['Value'])
df.head()

C:\Users\manue\AppData\Local\Temp\ipykernel_17728\2141859909.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  temp_data = df.str.replace('[M, K, €]', '').astype(float)

,ID,Age,Nationality,Overall,Potential,Club,Value,Wage,Total stat
0,236988,22,England,72,79,Arsenal,4800000.0,€45K,1698
1,225863,23,France,77,82,PSV,14500000.0,€15K,1961
2,241721,22,Portugal,82,90,AC Milan,68500000.0,€52K,1959
3,224371,24,England,79,82,West Ham United,24000000.0,€63K,1966
4,200104,28,Korea Republic,89,89,Tottenham Hotspur,104000000.0,€240K,2141

In [4]:
df['Wage'] = clean_data_money(df['Wage'])
df.head()

C:\Users\manue\AppData\Local\Temp\ipykernel_17728\2141859909.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  temp_data = df.str.replace('[M, K, €]', '').astype(float)

,ID,Age,Nationality,Overall,Potential,Club,Value,Wage,Total stat
0,236988,22,England,72,79,Arsenal,4800000.0,45000.0,1698
1,225863,23,France,77,82,PSV,14500000.0,15000.0,1961
2,241721,22,Portugal,82,90,AC Milan,68500000.0,52000.0,1959
3,224371,24,England,79,82,West Ham United,24000000.0,63000.0,1966
4,200104,28,Korea Republic,89,89,Tottenham Hotspur,104000000.0,240000.0,2141

In [5]:
df.head()

,ID,Age,Nationality,Overall,Potential,Club,Value,Wage,Total stat
0,236988,22,England,72,79,Arsenal,4800000.0,45000.0,1698
1,225863,23,France,77,82,PSV,14500000.0,15000.0,1961
2,241721,22,Portugal,82,90,AC Milan,68500000.0,52000.0,1959
3,224371,24,England,79,82,West Ham United,24000000.0,63000.0,1966
4,200104,28,Korea Republic,89,89,Tottenham Hotspur,104000000.0,240000.0,2141

In [6]:
# Create X (all the feature columns)
X = df.drop("Overall", axis=1)

# Create y (the target column)
y = df["Overall"]

In [7]:
X

,ID,Age,Nationality,Potential,Club,Value,Wage,Total stat
0,236988,22,England,79,Arsenal,4800000.0,45000.0,1698
1,225863,23,France,82,PSV,14500000.0,15000.0,1961
2,241721,22,Portugal,90,AC Milan,68500000.0,52000.0,1959
3,224371,24,England,82,West Ham United,24000000.0,63000.0,1966
4,200104,28,Korea Republic,89,Tottenham Hotspur,104000000.0,240000.0,2141
...,...,...,...,...,...,...,...,...
19820,245534,18,England,64,Tranmere Rovers,80000.0,500.0,1506
19821,245535,26,Turkey,74,Yukatel Kayserispor,2200000.0,15000.0,2008
19822,245536,19,Italy,70,Frosinone,200000.0,2000.0,1385
19823,245540,23,Greece,74,AEK Athens,1900000.0,500.0,1589
19824,259356,17,England,87,Aston Villa,1800000.0,2000.0,1630

In [8]:
y

0        72
1        77
2        82
3        79
4        89
         ..
19820    52
19821    71
19822    57
19823    69
19824    64
Name: Overall, Length: 19825, dtype: int64

In [9]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Nationality', 'Club'] # columnas que queremos transformar en nums
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',
                                  one_hot,
                                  categorical_features)], # aqui le pasamos la columnas
                                  remainder='passthrough') # esto es para no alterar el resto de columnas
transformed_X = transformer.fit_transform(X)
transformed_X

<19825x1102 sparse matrix of type '<class 'numpy.float64'>'
	with 157896 stored elements in Compressed Sparse Row format>

In [10]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(transformed_X,
                                                    y,
                                                    test_size=0.2)
# View the data shapes
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((15860, 1102), (3965, 1102), (15860,), (3965,))

In [11]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)

RandomForestRegressor()

In [12]:
model.score(X_test, y_test)

0.9853847669253286

In [13]:
print(X_test[6]) # Vemos que el elemento (0, 1096) corresponde al ID del jugador

  (0, 118)	1.0
  (0, 172)	1.0
  (0, 1096)	254766.0
  (0, 1097)	21.0
  (0, 1098)	69.0
  (0, 1099)	725000.0
  (0, 1100)	2000.0
  (0, 1101)	1531.0

In [14]:
for i in range(player_df.shape[0]):
    if player_df.iloc[i]['ID'] == 259027.0:
        print(player_df.iloc[i])
player_df.loc[player_df['ID'] == 259027.0] # Estamos haciendo lo mismo que el loop de arriba, usar una de las 2 opciones

ID                              259027
Name                   Jhoanner Chávez
Age                                 19
Nationality                    Ecuador
Overall                             63
Potential                           74
Club           Independiente del Valle
Contract                   2020 ~ 2023
Value                              €1M
Wage                              €500
Total stat                        1545
Name: 12677, dtype: object

,ID,Name,Age,Nationality,Overall,Potential,Club,Contract,Value,Wage,Total stat
12677,259027,Jhoanner Chávez,19,Ecuador,63,74,Independiente del Valle,2020 ~ 2023,€1M,€500,1545

In [15]:
print(model.predict(X_test[6])) # Coincide exacto, marca 63 y tiene una valoracion de 63 (vease arriba)

[61.15]

In [16]:
print(X_test[6, 1098]) # el 6 seria la fila en la que estamos y 1098 la columna 'Potential' de la matrix X_test type(scipy.sparse._csr.csr_matrix)

69.0

In [17]:
for i in range(X_test.shape[0]): # Sacamos los ID de jugadores del test que tienen potencial de mas de 90
    if X_test[i, 1098] > 90:
        print(X_test[i, 1096]) # 1096 corresponde a la columna 'ID'

200389.0
37576.0
251854.0
239818.0
188545.0
192119.0
207865.0

In [18]:
top_pot_player = [239818.0, 207865.0, 192119.0, 238794.0]

for i in range(player_df.shape[0]): # Vemos en la dataframe original que jugadores eran los de arriba
    if player_df.iloc[i]['ID'] in top_pot_player:
        print(player_df.iloc[i])

ID                                       238794
Name           Vinícius José de Oliveira Júnior
Age                                          20
Nationality                              Brazil
Overall                                      84
Potential                                    91
Club                             Real Madrid CF
Contract                            2018 ~ 2025
Value                                    €83.5M
Wage                                      €165K
Total stat                                 1970
Name: 22, dtype: object
ID                                   239818
Name           Rúben Santos Gato Alves Dias
Age                                      24
Nationality                        Portugal
Overall                                  88
Potential                                91
Club                        Manchester City
Contract                        2020 ~ 2027
Value                               €111.5M
Wage                                  €210K
Total stat                             1897
Name: 90, dtype: object
ID                          207865
Name            Marcos Aoás Corrêa
Age                             27
Nationality                 Brazil
Overall                         88
Potential                       91
Club           Paris Saint-Germain
Contract               2013 ~ 2024
Value                      €103.5M
Wage                         €160K
Total stat                    2089
Name: 481, dtype: object
ID                       192119
Name           Thibaut Courtois
Age                          29
Nationality             Belgium
Overall                      89
Potential                    91
Club             Real Madrid CF
Contract            2018 ~ 2026
Value                    €85.5M
Wage                      €250K
Total stat                 1327
Name: 775, dtype: object

In [19]:
def clean_data(data): # para que no salga el nombre con toda la info de type, object y demas
    data_clean = ''
    for i in data:
        data_clean += i
    return data_clean

for i in range(X_test.shape[0]): # Con un loop comprobamos los jugadores con Pot > 90 si acierta con su Overall
    if X_test[(i, 1096)] in top_pot_player:
        current_player = player_df.loc[player_df['ID'] == X_test[(i, 1096)]]
        crr_ply_name = clean_data(current_player['Name'])
        crr_ply_overall = clean_data(str(current_player['Overall'])[6:9]) # Lo ultimo es porque salia mal los datos
        crr_ply_predict = clean_data(str(model.predict(X_test[i])))
        print(f"{crr_ply_name} | Overall real: {crr_ply_overall} estimado -->  {crr_ply_predict}")

Rúben Santos Gato Alves Dias | Overall real: 88
 estimado -->  [86.79]
Thibaut Courtois | Overall real:  89 estimado -->  [90.08]
Marcos Aoás Corrêa | Overall real:  88 estimado -->  [88.11]

In [ ]:
import pickle

# Save trained model to file
pickle.dump(model, open("random_forest_regressor.pkl", "wb"))

# Load a saved model and make a prediction on a single example
loaded_model = pickle.load(open("random_forest_regressor.pkl", "rb"))
loaded_model.predict(X_test[6])