# Title: Digit Recognizer
#
# Database: https://www.kaggle.com/competitions/digit-recognizer/overview
#
## Goal: 
* The goal in this competition is to take an image of a handwritten single digit, and determine what that digit is.
For every in the test set, you should predict the correct label.
## Evaluation:
* This competition is evaluated on the categorization accuracy of your predictions (the percentage of images you get correct).

In [1]:
# Imports
## Data manage and plot
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
## Modeling
from catboost import Pool, CatBoostRegressor
from sklearn.model_selection import train_test_split
## Deep Modeling

# Lets compare Supervised models with Neural Networks

# Supervised test:

In [2]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [3]:
train_df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
np.random.seed(42)

X_train, X_test, y_train, y_test = train_test_split(train_df.drop('label', axis=1), train_df['label'])

model = CatBoostRegressor(logging_level='Silent')
model.fit(X_train, y_train)

In [5]:
model.score(X_test, y_test)

0.8982814721150002

In [6]:
preds = model.predict(test_df)
preds

array([ 1.70230534, -0.43309995,  7.55466399, ...,  3.20529371,
        7.99197427,  1.86270634])

In [7]:
print(round(preds))

TypeError: type numpy.ndarray doesn't define __round__ method

# Push results

In [21]:
sample_submission = pd.read_csv('sample_submission.csv', index_col=False)
sample_submission.head()

   ImageId  Label
0        1      0
1        2      0
2        3      0
3        4      0
4        5      0

In [35]:
len(preds), len(test_df.index)

(28000, 28000)

In [45]:
submission_df = pd.DataFrame({'ImageId':test_df.index+1, 'Label':preds})
submission_df.head()

   ImageId     Label
0        1  1.702305
1        2 -0.433100
2        3  7.554664
3        4  5.801300
4        5  3.930949

In [46]:
submission_df.to_csv('Catb-1.csv', index=False)